/* Resources:
https://colorhunt.co/palette/0a043c03506fbbbbbbffe3d8 */

/* Body */

body {
  text-align: center;
}

/* Navbar */
.navbar {
  font-family: 'Montserrat', sans-serif;
  border-bottom: .8px solid #BBBBBB;
}


/* Title */
/* Top White Section */
#title {
  padding: 40px 5% 0;
}

.profile-img {
    height: 200px;
    width: 200px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}


/* About */

/* middle grey section */
#about {
  padding: 30px 30% 0;
}

@media only screen and (max-width: 950px) {
  #about {
    padding-left: 10%;
    padding-right: 10%;
  }
}

/* Contact */
/* bottom white section */
#contact {
  padding: 20px 5% 0;
}

/* Footer */
#footer {
    padding: 30px 5% 0;
}






/* Unique Projects page elements */

#project-title {
  padding: 40px 5% 0;
}

.sub-title {
  margin-bottom: 18px;
}

#project-1 {
  padding: 30px 20% 0;
}

.project-text {
  text-align: center;
}


/* .project-text {
  padding: 30px 30% 0;
} */

@media only screen and (max-width: 809px) {
  .project-text {
    padding-left: 10%;
    padding-right: 10%;
  }
}




#project-2 {
  padding: 80px 20% 0;
}

.project-img {
  width: 260px;
  height: 200px;
  position: relative;
}

.button-row {
  padding-top: 20px;
}

.project-button {
  width: 250px;
  display:inline;
}
